/* Font Families */
/* Font sizes */
/* Font Weights */
h1,
h2 {
  color: #162441;
}

/* Heading utils */
.heading-1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}

.heading-2 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.125;
  text-transform: uppercase;
}

/* Variables */
/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  line-height: 1.625;
  color: #7b8bad;
}

img {
  display: block;
  max-width: 100%;
}

/* Container */
.container {
  --side-gap: 24px;
  width: min(100% - var(--side-gap) * 2, 1110px);
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .container {
    --side-gap: 39px;
  }
}

/* Flex */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

/* Flow */
.flow > * + * {
  margin-top: var(--flow-space, 2rem);
}

.grid {
  --columns: 4;
  --column-gap: 16px;
  --side-gap: 24px;
  --edge-column-width: calc(var(--side-gap) - var(--column-gap));
  display: grid;
  grid-template-columns: var(--edge-column-width) repeat(var(--columns), minmax(0px, 200px)) var(--edge-column-width);
  -moz-column-gap: var(--column-gap);
       column-gap: var(--column-gap);
}
@media screen and (min-width: 768px) {
  .grid {
    --columns: 12;
    --column-gap: 10px;
    --side-gap: 39px;
  }
}
@media screen and (min-width: 1110px) {
  .grid {
    --columns: 12;
    --column-gap: 30px;
    grid-template-columns: 1fr repeat(var(--columns), minmax(0px, 65px)) 1fr;
  }
}
.grid > * {
  grid-column: 2/calc(var(--columns) + 2);
}

.cta-btn {
  display: inline-block;
  padding: 0.6875em 0.875em;
  border-radius: 8px;
  background-color: #f26818;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  transition: background-color 150ms ease, color 150ms ease;
}
.cta-btn:hover, .cta-btn:focus, .cta-btn:active {
  background-color: #ff9b61;
}
@media screen and (min-width: 768px) {
  .cta-btn {
    padding: 1em 1.625em;
  }
}

.cta-btn--secondary {
  background-color: #e8eff2;
  color: #162441;
}
.cta-btn--secondary:hover, .cta-btn--secondary:focus, .cta-btn--secondary:active {
  background-color: #162441;
  color: white;
}

.main-header {
  padding-block: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.intro {
  padding-top: 2.5rem;
  align-items: center;
  row-gap: 64px;
  overflow-x: hidden;
}
.intro__heading {
  word-wrap: break-word;
}
.intro__paragraph {
  max-width: 45ch;
}
.intro__pre-order {
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 0.5rem;
}
.intro__pre-order p {
  font-weight: 700;
  text-transform: uppercase;
}
.intro__main-content {
  grid-column: 2/6;
}
.intro__image-wrapper {
  grid-column: 2/-1;
  justify-content: flex-end;
}
.intro__image {
  width: 372px;
  height: 331px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url(../../assets/mobile/image-keyboard.jpg);
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .intro__main-content {
    grid-column: 2/8;
  }
  .intro__image-wrapper {
    grid-column: 9/-1;
  }
  .intro__image {
    width: 478px;
    height: 425px;
  }
}
@media screen and (min-width: 1110px) {
  .intro__main-content {
    grid-column: 2/8;
  }
  .intro__image-wrapper {
    grid-column: 8/14;
  }
  .intro__image {
    width: 540px;
    height: 480px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

/* &__image {
    width: calc(100% + 24px);
    height: auto;
    margin-top: 64px;
    margin-right: -24px;
    float: right;
    aspect-ratio: 372/331;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: url(../../assets/mobile/image-keyboard.jpg);
    background-size: cover;
  } *//*# sourceMappingURL=main.css.map */