@use './typography' as *;
@use './colors';

/* Variables */

$breakpoints: (
    "tiny": 375px,
    "small": 480px,
    "medium": 768px,
    "large": 1110px
);

/* Resets */

*,
*::before,
*::after {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

body {
    min-height: 100vh;
    font-family: $ff-primary;
    font-weight: $fw-medium;
    line-height: 1.625;
    color: colors.$secondary-light;
}

img {
    display: block;
    max-width: 100%;
}