@use './mixins' as *;
@use "./typography" as *;
@use "./colors";

.cta-btn {
  display: inline-block;
  padding: 0.6875em 0.875em;
  border-radius: 8px;
  background-color: colors.$primary;
  font-weight: $fw-bold;
  text-decoration: none;
  text-transform: uppercase;
  color: colors.$white;
  transition: background-color 150ms ease, color 150ms ease;
  @include on-event {
    background-color: colors.$primary-light;
  }
  @include bp-up('medium') {
    padding: 1em 1.625em;
  }
}

.cta-btn--secondary {
  background-color: colors.$light-gray;
  color: colors.$secondary;
  @include on-event {
      background-color: colors.$secondary;
      color: colors.$white;
  }
}