/* Font Families */
$ff-primary: 'Barlow', sans-serif;

/* Font sizes */
$fs-900: 3.5rem;
$fs-700: 2rem;
$fs-600: 1.5rem;
$fs-400: 1rem;

/* Font Weights */
$fw-black: 900;
$fw-bold: 700;
$fw-medium: 500;