@use './colors';

/* Font Families */
$ff-primary: 'Barlow', sans-serif;

/* Font sizes */
$fs-900: 3.5rem;
$fs-800: 3rem;
$fs-700: 2rem;
$fs-600: 1.5rem;
$fs-400: 1rem;

/* Font Weights */
$fw-black: 900;
$fw-bold: 700;
$fw-medium: 500;

h1,
h2 {
    color: colors.$secondary;
}

/* Heading utils */

.heading-1 {
    font-size: $fs-800;
    font-weight: $fw-black;
    line-height: 1;
    text-transform: uppercase;
}

.heading-2 {
    font-size: $fs-700;
    font-weight: $fw-black;
    line-height: 1.125; 
    text-transform: uppercase;
}